/* .main {
  align-items: center;
  display: grid;
  grid-template-areas:
  "greeting info"
  "special info";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 70vh;
  justify-content: space-evenly;
  overflow: auto;
} */

/* .greeting, .info, .special {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

/* span {
  background-color: black;
  width: 2px;
} */

/* .greeting {
  font-family: 'Parisienne', cursive;
  font-size: xxx-large;
  padding: 1px 1px 1px 1px;
  font-style: italic;
  grid-area: greeting;
  width: 30vw;
} */

/* h2 {
  font-size: 1em;
  font-family: 'Parisienne', cursive;
  width: 25vw;
} */

/* .covid, p {
  font-size: small;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  margin-block-end: 0em;
  margin-block-start: 0em;
  width: 25vw;
} */

/* .hours, .contact, .special {
    width: 25vw;
    height: 30vh;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
} */

/* .info {
  grid-area: info;
  width: 30vw;
} */

/* .special {
  grid-area: special;
  width: 30vw;
} */

@media screen and (max-width: 960px) {
  .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 70vw;
    justify-content: space-between;
    overflow: scroll;
  }

  .greeting, .info, .special, .hours, .contact {
    width: 70vw;
    height: fit-content;
    margin-bottom: 1em;
    overflow: none;
  }

  .special {
    height: 20vh;
  }
}