.menu-page {
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 65vw;
	overflow-y: scroll;
	height: auto;
}

.menu {
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75vh;
	height: 60vh;
	margin: 5% 5% 0% 5%;
}

.menu-title {
	font-family: 'Parisienne', cursive;
  font-size: 150%;
  padding: 1px 1px 1px 1px;
	font-style: italic;
	border-bottom: 1px solid black;
}

.section-header {
	margin-top: 5%;
	font-family: 'Parisienne', cursive;
  font-size: 100%;
  padding: 1px 1px 1px 1px;
	font-style: italic;
}

.menu-item {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: small;
  padding: 1px 1px 1px 1px;
	font-style: italic;
	margin-bottom: 1%;
}
